[Unit]
Description=Crypto modules installation service
SourcePath=/etc/initscripts/qce_dlkm

[Service]
Restart=no
RemainAfterExit=yes
ExecStart=/etc/initscripts/qce_dlkm start
ExecStop=/etc/initscripts/qce_dlkm stop

[Install]
WantedBy=multi-user.target
